<?page title="Create Bank Movement" contentType="text/html;charset=UTF-8"?>
<window title="Create Bank Movement" border="normal"
	id="newMovementDialog" width="600px" apply="com.mera.bank.webapp.controllers.MovementController">
	<grid>
		<rows>
			<row>
				Account Number:
				<label id="accountNumber"/>
			</row>
			<row>
				Movement Type:
				<combobox id="movementType">
					<comboitem label="DEBIT" value="DEBIT"/>
					<comboitem label="CREDIT" value="CREDIT"/>
				</combobox>
			</row>
			<row>
				Movement Value:
				<doublebox id="movementValue" format=",###.####" constraint="no empty, no negative" />
			</row>
			<row>
				<button type="submit" label="Add Movement" id="addMovementBtn" />
				<button label="Cancel" id="cancelMovementBtn" />
			</row>
		</rows>
	</grid>
</window>